.am-auto-table {
    height: 100%;
    width: 100%;
    box-shadow: $box-shadow;
    .am-auto-table-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .am-auto-table-footer {
        padding: 0 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .am-auto-table-page-select {
            line-height: 24px;
        }
    }
}
