.am-button {
    border: none;
    background: none;
    outline: none;
    padding: 0 $padding;
    cursor: pointer;

    @each $key, $value in $list-size {
        &.am-button-#{$key} {
            height: $value;
            font-size: $value/2;
        }
    }

    &.am-button-fill {
        &.am-button-color-primary {
            background-color: $color-primary;
            color: white;
        }
    }
}
