.am-button {
    border: none;
    background: none;
    outline: none;
    padding: 0 $padding;
    cursor: pointer;

    @each $key, $value in $list-size {
        &.am-button-#{$key} {
            height: $value;
            font-size: $value/2;
        }
    }

    @each $key, $value in $list-shape {
        &.am-button-#{$key} {
            border-radius: $value;
        }
    }

    &.am-button-fill {
        @each $key, $value in $list-color {
            &.am-button-color-#{$key} {
                background-color: $value;
                color: white;
            }
        }
    }
}
