.am-collapse {
    display: block;
    vertical-align: bottom;

    &.am-collapse-active {
        .am-collapse-head-icon-wrapper .am-icon {
            transform: rotate(180deg);
        }
    }

    .am-collapse-head {
        position: relative;
        background-color: $color-normal-divider;
        .am-collapse-head-icon-wrapper {
            position: absolute;
            top: 0;
            right: 0.5em;
            bottom: 0;
            display: inline-flex;
            align-items: center;
            .am-icon {
                @include transition-all;
                color: white;
            }
        }
    }
    .am-collapse-body {
        background-color: $color-normal-background;
    }
}

.am-collapse-group {
    display: block;
    vertical-align: top;
    .am-collapse:not(:last-child) {
        .am-collapse-head {
            border-bottom: solid 1px $color-normal-background;
            box-sizing: border-box;
        }
    }

    /*shape*/
    @each $key, $value in $list-shape {
        &.am-collapse-group-shape-#{$key} {
            border-radius: $value;
            overflow: hidden;
        }
    }
}
