$date-width: 32px;

.am-datepicker {
    .am-datepicker-content-wrapper {
        border: solid 1px #ddd;
        width: $date-width*7;
        height: $date-width*6;
        .am-year-pannel {
            font-size: 16px;
            .am-year-pannel-content-wrapper {
                .am-year-panel-item {
                    width: 33.33%;
                    float: left;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    height: $date-width*6/5;
                }
            }
        }
    }
}
