.am-icon {

    /*阿里巴巴icon设置*/
    &.am-iconfont {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }

    /*旋转按钮*/
    &.am-icon-loading {
        animation: am-rotating @animation-time linear infinite;
    }

}
