/*设置placeholder的颜色值*/
@mixin input-placeholder-color($value,$darken:0.45) {
    $place-holder-color: lighten($value, 30);

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: $place-holder-color;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $place-holder-color;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $place-holder-color;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $place-holder-color;
    }
}

.am-input {
    display: inline-flex;
    align-items: center;
    min-width: 150px;
    box-sizing: border-box;
    vertical-align: bottom;
    .am-input-wrapper {
        display: inline-block;
        flex: 1;
        height: 100%;
        input {
            height: 100%;
            width: 150px;
            outline: none;
            border: none;
            display: inline-block;
            padding: 0 0.5em;
            box-sizing: border-box;
        }
    }

    .am-input-prepend, .am-input-append, .am-input-prefix-icon, .am-input-suffix-icon {
        padding: 0 0.5em;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .am-input-prefix-icon, .am-input-suffix-icon {
        .am-icon {
            @include transition-all;
            cursor: pointer;
            &:hover {
                transform: rotate(180deg);
            }
        }
    }

    /*shape*/
    @each $key, $value in $list-shape {
        &.am-input-shape-#{$key} {
            border-radius: $value;
        }
    }

    @each $key, $value in $list-size {
        &.am-input-size-#{$key} {
            height: $value;
            &, & input {
                font-size: $value/2.5;
            }
        }
    }

    /*fill type*/
    &.am-input-fill {
        @each $key, $value in $list-color {
            &.am-input-color-#{$key} {
                border: solid $border-size $value;
                @include input-placeholder-color($value, 0.8);
                &, & input {
                    background: $value;
                    color: white;
                }
            }
        }
    }
    /*line type*/
    &.am-input-line {
        @each $key, $value in $list-color {
            &.am-input-color-#{$key} {
                border: solid $border-size $value;
                @include input-placeholder-color($value);
                &, & input {
                    background: transparent;
                    color: $value;
                }
            }
        }
        &.am-input-dashed {
            border-style: dashed;
        }
    }
    /*none type*/
    &.am-input-none {
        @each $key, $value in $list-color {
            &.am-input-color-#{$key} {
                border: solid $border-size transparent;
                @include input-placeholder-color($value);
                &, & input {
                    background: transparent;
                    color: $value;
                }
            }
        }
    }
    &.am-input-long {
        width: 100%;
        input {
            width: 100%;
        }
    }
}
