.am-modal {

}

body {
    .am-modal-shadow {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        @include transition-all;
    }

    .am-modal-body-wrapper {
        position: fixed;
        left: 50%;
        top: 0;
        z-index: 2;
        @include transition-all;
        .am-modal-body {
            left: -50%;
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            @each $key, $value in $list-shape {
                &.am-modal-body-shape-#{$key} {
                    border-radius: $value;
                }
            }
            .am-modal-body-head, .am-modal-body-content, .am-modal-body-foot {
                background-color: white;
                box-sizing: border-box;
            }
            .am-modal-body-content {
                flex: 1;
            }
            .am-modal-body-head-default, .am-modal-body-foot-default {
                min-height: 44px;
            }
            .am-modal-body-foot-default {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0 0.5em;
            }
            .am-modal-body-content, .am-modal-body-foot {
                color: $color-normal-content;
            }
            .am-modal-body-content-default {
                padding: 1em;
            }
            .am-modal-body-head-default {
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $color-normal-sub-color;
                padding: 0 1em;
                .am-modal-body-head-default-close-icon {
                    @include transition-all;
                    cursor: pointer;
                    &:hover {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}
