.am-modal {

}

body {
    .am-modal-shadow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        @include transition-all;
    }

    .am-modal-body-wrapper {
        position: absolute;
        left: 50%;
        top: 0;
        z-index: 2;
        .am-modal-body {
            background-color: white;
            left: -50%;
            position: relative;
            min-width: 520px;
            min-height: 200px;

            @each $key, $value in $list-shape {
                &.am-modal-body-shape-#{$key} {
                    border-radius: $value;
                }
            }
        }
    }
}
