body {
    .am-modal-shadow {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        @include transition-all;
    }

    .am-modal-body-wrapper {
        position: fixed;
        z-index: 2;
        @include transition-all;
        .am-modal-body {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            box-shadow: 0 0 10px #ddd;

            @include transition-all;

            @each $key, $value in $list-shape {
                &.am-modal-body-shape-#{$key} {
                    border-radius: $value;
                }
            }
            .am-modal-body-head, .am-modal-body-content, .am-modal-body-foot {
                background-color: white;
                box-sizing: border-box;
                position: absolute;
                left: 0;
                right: 0;
            }
            .am-modal-body-content, .am-modal-body-foot {
                color: $color-normal-content;
            }

            .am-modal-body-head, .am-modal-body-foot {
                height: 44px;
            }
            .am-modal-body-head {
                top: 0;
            }
            .am-modal-body-foot {
                bottom: 0;
            }
            .am-modal-body-content {
                top: 44px;
                bottom: 44px;
                &.am-modal-body-content-no-header {
                    top: 0;
                }
                &.am-modal-body-content-no-footer {
                    bottom: 0;
                }
            }

            .am-modal-body-foot-default {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 0 0.5em;
            }
            .am-modal-body-head-default {
                height: 100%;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $color-normal-sub-color;
                padding: 0 1em;
                .am-modal-body-head-default-icon-bar {
                    .am-icon {
                        @include transition-all;
                        cursor: pointer;
                        &:hover {
                            transform: rotate(360deg);
                        }
                        &:not(:last-child) {
                            margin-right: 1em;
                        }
                    }
                }
            }
            .am-modal-body-content-default {
                padding: 1em;
            }
        }

        .am-modal-service-content-wrapper {
            .am-modal-service-content-message {
                margin-bottom: 1em;
            }
            padding: 1em;
        }
    }

    .am-modal-handler {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        .am-move-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap-reverse;
        }
        .am-modal-handler-item {
            height: 28px;
            align-items: center;
            font-size: 18px;
            padding: 1em 1em;
            display: inline-flex;
            margin-bottom: 1em;
            margin-right: 1em;
            border-radius: $shape-fillet;
            cursor: pointer;

            span, .am-icon {
                color: white;
            }
            & > *:not(:last-child) {
                margin-right: 0.5em;
            }

            @each $key, $value in $list-color {
                &.am-modal-handler-item-color-#{$key} {
                    background-color: $value;
                }
            }
        }
    }
}
