.am-radio {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-flex !important;
    vertical-align: bottom;
    border: none;
    background: none;
    align-items: center;
    border-radius: $shape-fillet;
    @each $key, $value in $list-color {
        &.am-radio-color-#{$key} {
            color: $value;
        }
    }
    .am-radio-label {
        display: inline-flex;
        align-items: center;
    }
    .am-radio-wrapper {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 1em;
        height: 1em;
        user-select: none;
        .am-radio-active-icon, .am-radio-inactive-icon {
            position: absolute;
            top: 0;
            left: 0;
            @include transition-all;
        }
    }
}
