.am-scrollbar {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    .am-scrollbar-content-wrapper {
        height: calc(100% + 17px);
        width: calc(100% + 17px);
        overflow: scroll;
        .am-scrollbar-content {
            width: max-content;
            min-width: 100%;
            display: inline-block;
        }
    }
    .am-scrollbar-vertical-indicator-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        .am-scrollbar-vertical-indicator {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 100px;
            cursor: pointer;
            opacity: 0;
            transition-duration: 0.4s;
            transition-property: opacity, height;
        }
    }
    .am-scrollbar-horizontal-indicator-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .am-scrollbar-horizontal-indicator {
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 100px;
            cursor: pointer;
            opacity: 0;
            transition-duration: 0.4s;
            transition-property: opacity, width;
        }
    }
    &.am-scrollbar-hover {
        .am-scrollbar-vertical-indicator {
            opacity: 1;
        }
        .am-scrollbar-horizontal-indicator {
            opacity: 1;
        }
    }
}
