@mixin am-switch-bos-shadow($color,$amount) {
    box-shadow: 0 3px 12px darken($color, 25), 0 3px 1px darken($color, 25);
}

.am-switch {
    display: inline-flex;
    vertical-align: bottom;
    box-sizing: border-box;
    align-items: center;
    .am-switch-wrapper {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        user-select: none;
        box-sizing: content-box;
        position: relative;
        overflow: hidden;
        .am-switch-indicator-wrapper {
            top: 0;
            position: absolute;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            @include transition-all;
            .am-switch-indicator {
                @include transition-all;
            }
        }

        .am-switch-wrapper-left-side, .am-switch-wrapper-right-side {
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }

        .am-switch-wrapper-left-side {
            left: 0;
        }
        .am-switch-wrapper-right-side {
            right: 0;
        }
    }

    /*size*/
    @each $key, $value in $list-size {
        $switch-width: 1.618*$value;
        $length: $value - $border-size*2;
        &.am-switch-size-#{$key} {
            .am-switch-wrapper {
                height: $length;
                width: $switch-width;
                font-size: $length/2.5;
                border-radius: $length;
                .am-switch-indicator-wrapper {
                    height: $length;
                    width: $length;
                    border-radius: $length;
                }
            }
        }

        &:active {
            &.am-switch-size-#{$key} {
                .am-switch-wrapper {
                    .am-switch-indicator-wrapper {
                        width: $switch-width;
                    }
                }
            }
        }
    }

    /*fill type*/
    @each $key, $value in $list-color {
        &.am-switch-color-#{$key} {
            &.am-switch-inactive {
                .am-switch-wrapper {
                    background-color: $color-normal-disabled;
                    border: solid $border-size $color-normal-disabled;
                    .am-switch-indicator-wrapper {
                        left: 0;
                        background-color: white;
                        transform-origin: left;
                        @include am-switch-bos-shadow($color-normal-disabled, 10);
                    }
                }
            }
            &.am-switch-active {
                .am-switch-wrapper {
                    background-color: $value;
                    border: solid $border-size $value;
                    .am-switch-indicator-wrapper {
                        right: 0;
                        background-color: white;
                        @include am-switch-bos-shadow($value, 10);
                        transform-origin: right;
                        .am-switch-indicator {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }

    &.am-switch-disabled {
        .am-switch-wrapper {
            cursor: not-allowed;
            .am-switch-indicator-wrapper {
                background-color: #999 !important;
            }
        }
    }

}
