$am-tabbar-head-height: 56px;

.am-tabbar {
    height: 100%;
    width: 100%;
    position: relative;
    .am-tabbar-head {
        height: $am-tabbar-head-height;
        position: relative;
        .am-tabbar-head-content {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            .am-tabbar-head-item {
                height: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin-right: 1em;
                position: relative;
                @include transition-all;
                &:first-child {
                    margin-left: 1em;
                }
                .am-tabbar-head-item-close-icon {
                    color: $color-error;
                    position: absolute;
                    top: 0;
                    right: -1em;
                    opacity: 0;
                    @include transition-all;
                    &:hover {
                        transform: rotate(180deg);
                    }
                }
                &:hover {
                    .am-tabbar-head-item-close-icon {
                        opacity: 1;
                    }
                }
            }
            .am-tabbar-head-indicator {
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 100px;
                @include transition-all-cubic-bezier;
            }
        }

    }
    .am-tabbar-controller {
        position: absolute;
        top: $am-tabbar-head-height;
        bottom: 0;
        height: unset;
    }
}
