.am-table {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: bottom;
    height: 100%;
    width: 100%;
    box-shadow: $box-shadow;
    .am-table-column-controller {
        height: 0;
        width: 0;
        overflow: hidden;
    }
    .am-table-content {
        .am-table-head {
            background-color: $color-primary-light;
            color: $color-normal-content;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
