.am-tag {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    padding: 0 0.5em;
    box-sizing: border-box;
    user-select: none;
    /*shape*/
    @each $key, $value in $list-shape {
        &.am-tag-shape-#{$key} {
            border-radius: $value;
        }
    }
    /*fill type*/
    &.am-tag-fill {
        @each $key, $value in $list-color {
            &.am-tag-color-#{$key} {
                background-color: $value;
                border: solid $border-size $value;
                color: white;
            }
        }
    }
    /*line type*/
    &.am-tag-line {
        @each $key, $value in $list-color {
            &.am-tag-color-#{$key} {
                border: solid $border-size $value;
                background: transparent;
                color: $value;
            }
        }
        &.am-tag-dashed {
            border-style: dashed;
        }
    }
    /*none type*/
    &.am-tag-none {
        @each $key, $value in $list-color {
            &.am-tag-color-#{$key} {
                border: solid $border-size transparent;
                background: transparent;
                color: $value;
            }
        }
    }
    /*tap style*/
    &:active {
        position: relative;
        top: 1px;
        left: 1px;
    }
    &.am-tag-disabled {
        background-color: $color-normal-disabled !important;
        color: $color-normal-sub-color !important;;
        border-color: $color-normal-disabled !important;;
        cursor: not-allowed;
    }
}

.am-tag-input {
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;
    box-sizing: border-box;
    padding: 0 0.25em;

    .am-tag-label-input {
        border: none;
        outline: none;
        box-sizing: border-box;
        padding: 0.25em 0.5em;
        margin-top: 0.25em;
        margin-right: 0.25em;
        font-size: inherit;
    }

    .am-tag {
        margin-bottom: 0.25em;
        margin-top: 0.25em;
        margin-right: 0.25em;
    }

    @each $key, $value in $list-color {
        &.am-tag-input-color-#{$key} {
            .am-tag-label-input {
                border-bottom: 1px solid mix(white, $value, 50);
                background-color: transparent;
            }
        }
    }

    /*size*/
    @each $key, $value in $list-size {
        &.am-tag-input-#{$key} {
            min-height: $value;
            font-size: $value/2.5;
        }
    }
    /*shape*/
    @each $key, $value in $list-shape {
        &.am-tag-input-shape-#{$key} {
            border-radius: $value;
        }
    }
    /*fill type*/
    &.am-tag-input-fill {
        @each $key, $value in $list-color {
            &.am-tag-input-color-#{$key} {
                background-color: $value;
                border: solid $border-size $value;
                color: white;
                .am-tag-label-input {
                    color: white;
                }
            }
        }
    }
    /*line type*/
    &.am-tag-input-line {
        @each $key, $value in $list-color {
            &.am-tag-input-color-#{$key} {
                border: solid $border-size $value;
                background: transparent;
                color: $value;
            }
        }
        &.am-tag-input-dashed {
            border-style: dashed;
        }
    }
    /*none type*/
    &.am-tag-input-none {
        @each $key, $value in $list-color {
            &.am-tag-input-color-#{$key} {
                border: solid $border-size transparent;
                background: transparent;
                color: $value;
            }
        }
    }

    &.am-tag-input-long {
        width: 100%;
    }
    &.am-tag-input-disabled {
        background-color: $color-normal-disabled !important;
        color: $color-normal-sub-color !important;;
        border-color: $color-normal-disabled !important;;
        cursor: not-allowed;
        .am-tag {
            cursor: not-allowed;
        }
    }
}
