.am-timepicker {
    .am-timepicker-content-wrapper {
        .am-button-group {
            text-align: right;
            width: 100%;
            justify-content: flex-end;
            padding: 0.5em;
        }
    }
}
