/*@formatter:off*/

@animation-time: 1.5s;                  //css循环动画时长
@transition-time:0.15s;                 //过渡动画时长
@padding:1em;                           //一般情况下的padding
@margin:1em;                            //一般情况下margin的大小
@border-radius:4px;                     //圆角弧度

/*---------------------------------------color-------------------------------------------*/
@color-primary:#2D8DF0;                 //主色调
@color-primary-light:#f0faff;           //主色调：轻
@color-primary-dark:#0F549C;            //主色调：重

@color-info:#61CCFA;                    //提示
@color-success:#43B973;                 //成功
@color-warning:#FFEE00;                 //警告
@color-error:#ED4114;                   //失败

@color-normal-title:#17233d;            //标题
@color-normal-content:#515a6e;          //内容
@color-normal-sub-color:#808695;        //辅助（图标）
@color-normal-disabled:#c5c8ce;         //失效
@color-normal-border:#dcdee2;           //边框
@color-normal-divider:#e8eaec;          //分割线
@color-normal-background:#f8f8f9;       //背景色
/*---------------------------------------size-------------------------------------------*/
@size-list:"large","default","small";

@size-large:36px;
@size-default:32px;
@size-small:28px;

/*@formatter:on*/
