/*
*   power by    weishengjian
*   datetime    2018/9/11 22:55
*/

/*@formatter:off*/

$animation-loop-time:1.5s;                      //css动画循环时长
$transition-time:0.15s;                         //transition过渡动画时长
$padding:1em;                                   //默认padding大小
$margin:1em;                                    //默认margin大小

/*---------------------------------------color-------------------------------------------*/
$color-primary:#2D8DF0;                         //主色调
$color-primary-light:#f0faff;                   //主色调：轻
$color-primary-dark:#0F549C;                    //主色调：重

$color-info:#808695;                            //提示
$color-success:#43B973;                         //成功
$color-warn:#ffc41d;                            //警告
$color-error:#ED4114;                           //失败

$color-normal-title:#17233d;                    //标题
$color-normal-content:#515a6e;                  //内容
$color-normal-sub-color:#808695;                //辅助（图标）
$color-normal-disabled:#c5c8ce;                 //失效
$color-normal-border:#dcdee2;                   //边框
$color-normal-divider:#e8eaec;                  //分割线
$color-normal-background:#f8f8f9;               //背景色

$list-color:(
    primary:$color-primary,
    info:$color-info,
    success:$color-success,
    warn:$color-warn,
    error:$color-error,
);

/*---------------------------------------size-------------------------------------------*/
$size-large:48px;
$size-default:36px;
$size-small:24px;

$list-size:(
    large:$size-large,
    default:$size-default,
    small:$size-small,
);
/*---------------------------------------shape-------------------------------------------*/
$shape-fillet:4px;
$shape-round:3000px;
$shape-none:0;

$list-shape:(
    fillet:$shape-fillet,
    round:$shape-round,
    none:$shape-none,
);
/*@formatter:on*/
