/*@formatter:off*/

@animation-duration: 1.5s;              //css循环动画时长
@padding:1em;                           //一般情况下的padding
@margin:1em;                            //一般情况下margin的大小

/*@formatter:on*/
