@mixin transition-all {
    transition: all $transition-time;
}

@mixin transition-all-cubic-bezier{
    transition: all 1s cubic-bezier(.28, 1.03, 0, .99);
}

/*缩放*/
.am-transition-scale-enter-active, .am-transition-scale-leave-active {
    transform-origin: center;
    transform: scale(1);
}

.am-transition-scale-enter, .am-transition-scale-leave-to {
    transform-origin: center;
    transform: scale(0.6);
    opacity: 0;
}

/*缩放过度*/
.am-popover-scale-enter-active, .am-popover-scale-leave-active {
    transition: all .1s linear;
    opacity: 1;
}

.am-popover-scale-enter, .am-popover-scale-leave-to {
    opacity: 0;
    transform: scale(0.75, 0.75);
}

/*透明度*/
.am-transition-fade-enter-active, .am-transition-fade-leave-active {
    opacity: 1;
}

.am-transition-fade-enter, .am-transition-fade-leave-to {
    opacity: 0;
}

/*移动*/
.am-transition-from-bottom-enter-active, .am-transition-from-bottom-leave-active {
}

.am-transition-from-bottom-enter, .am-transition-from-bottom-leave-to {
    transform: translateY(10%);
    opacity: 0;
}

/*折叠动画*/

.collapse-transition {
    transition: $transition-time height ease-in-out, $transition-time padding-top ease-in-out, $transition-time padding-bottom ease-in-out;
}
